<div class="modal fade" id="bookModal" tabIndex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
  
          <div class="modal-header">
            <h5 class="modal-title">Book Details</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
  
          <div class="modal-body">  </div>
  
           
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Save Changes</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  